.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
* {
  -webkit-font-smoothing: antialiased;
}
p {
  margin: 0 0 10px;
}
.lead {
  margin-bottom: 20px;
  font-size: 21px;
  font-weight: 200;
  line-height: 30px;
}
small {
  font-size: 85%;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
cite {
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 20px;
  color: inherit;
  text-rendering: optimizelegibility;
}
.wallboard h1,
.wallboard h2,
.wallboard h3,
.wallboard h4,
.wallboard h5,
.wallboard h6 {
  color: white;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-weight: normal;
  line-height: 1;
  color: #999999;
}
.wallboard h1 small,
.wallboard h2 small,
.wallboard h3 small,
.wallboard h4 small,
.wallboard h5 small,
.wallboard h6 small {
  color: white;
}
h1,
h2,
h3 {
  line-height: 40px;
}
h1 {
  font-size: 38.5px;
}
h2 {
  font-size: 31.5px;
}
h3 {
  font-size: 24.5px;
}
h4 {
  font-size: 17.5px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 11.9px;
}
h1 small {
  font-size: 24.5px;
}
h2 small {
  font-size: 17.5px;
}
h3 small {
  font-size: 14px;
}
h4 small {
  font-size: 14px;
}
ul,
ol {
  padding: 0;
  margin: 0 0 10px 25px;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
li {
  line-height: 20px;
}
ul.unstyled,
ol.unstyled {
  margin-left: 0;
  list-style: none;
}
ul.inline,
ol.inline {
  margin-left: 0;
  list-style: none;
}
ul.inline > li,
ol.inline > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
dl {
  margin-bottom: 20px;
}
dt,
dd {
  line-height: 20px;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 10px;
}
hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #ffffff;
}
blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 20px;
  border-left: 5px solid #eeeeee;
}
blockquote p {
  margin-bottom: 0;
  font-size: 17.5px;
  font-weight: 300;
  line-height: 1.25;
}
blockquote small {
  display: block;
  line-height: 20px;
  color: #999999;
}
blockquote small:before {
  content: '\2014 \00A0';
}
blockquote.pull-right {
  float: right;
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #eeeeee;
  border-left: 0;
}
blockquote.pull-right p,
blockquote.pull-right small {
  text-align: right;
}
blockquote.pull-right small:before {
  content: '';
}
blockquote.pull-right small:after {
  content: '\00A0 \2014';
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}
address {
  display: block;
  margin-bottom: 20px;
  font-style: normal;
  line-height: 20px;
}
body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  background-color: #ffffff;
}
body.wallboard {
  font-family: 'Benton', "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: black;
  color: white;
}
.container {
  position: relative;
  max-width: 1000px;
  overflow: hidden;
  margin: 0 auto;
  padding: 0 10px;
  text-align: left;
}
a {
  color: #0088cc;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #005580;
  text-decoration: underline;
}
.wallboard-top {
  position: relative;
  *zoom: 1;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: block;
  width: 100%;
  height: 600px;
}
.wallboard-top:before,
.wallboard-top:after {
  display: table;
  content: "";
  line-height: 0;
}
.wallboard-top:after {
  clear: both;
}
.photos-slider {
  margin: 0;
  padding: 0;
  *zoom: 1;
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 600px;
}
.photos-slider:before,
.photos-slider:after {
  display: table;
  content: "";
  line-height: 0;
}
.photos-slider:after {
  clear: both;
}
.photos-slider .fx {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  -webkit-transform: scale(2, 2);
  -moz-transform: scale(2, 2);
  -ms-transform: scale(2, 2);
  -o-transform: scale(2, 2);
  transform: scale(2, 2);
  -webkit-transform: translate(30px, 30px);
  -moz-transform: translate(30px, 30px);
  -ms-transform: translate(30px, 30px);
  -o-transform: translate(30px, 30px);
  transform: translate(30px, 30px);
}
.photos-slider img {
  min-width: 110%;
  min-height: 660px;
  position: absolute;
  top: 50%;
  margin: -430px 0 0 0;
  left: -5%;
  display: block;
  -webkit-transition-property: opacity, -webkit-transform;
  -webkit-transition-duration: 1s, 6s;
  -moz-transition-property: opacity, -moz-transform;
  -moz-transition-duration: 1s, 6s;
  -ms-transition-property: opacity, -ms-transform;
  -ms-transition-duration: 1s, 6s;
  -o-transition-property: opacity, -o-transform;
  -o-transition-duration: 1s, 6s;
  transition-property: opacity, transform;
  transition-duration: 1s, 6s;
  -webkit-transform-origin: bottom left;
  -moz-transform-origin: bottom left;
  -ms-transform-origin: bottom left;
  -o-transform-origin: bottom left;
  transform-origin: bottom left;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=100);
  opacity: 0;
}
.photos-slider img:nth-child(2n+1) {
  -webkit-transform-origin: top right;
  -moz-transform-origin: top right;
  -ms-transform-origin: top right;
  -o-transform-origin: top right;
  transform-origin: top right;
}
.photos-slider img:nth-child(2n+1).fx {
  -webkit-transform: translate(-30px, -30px);
  -moz-transform: translate(-30px, -30px);
  -ms-transform: translate(-30px, -30px);
  -o-transform: translate(-30px, -30px);
  transform: translate(-30px, -30px);
}
.photos-slider img:nth-child(3n+1) {
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  -ms-transform-origin: top left;
  -o-transform-origin: top left;
  transform-origin: top left;
}
.photos-slider img:nth-child(3n+1).fx {
  -webkit-transform: translate(30px, -30px);
  -moz-transform: translate(30px, -30px);
  -ms-transform: translate(30px, -30px);
  -o-transform: translate(30px, -30px);
  transform: translate(30px, -30px);
}
.photos-slider img:nth-child(4n+1) {
  -webkit-transform-origin: bottom right;
  -moz-transform-origin: bottom right;
  -ms-transform-origin: bottom right;
  -o-transform-origin: bottom right;
  transform-origin: bottom right;
}
.photos-slider img:nth-child(4n+1).fx {
  -webkit-transform: translate(30px, -30px);
  -moz-transform: translate(30px, -30px);
  -ms-transform: translate(30px, -30px);
  -o-transform: translate(30px, -30px);
  transform: translate(30px, -30px);
}
.photos-slider .fx:first-child + img ~ img {
  z-index: -1;
}
.backdrop {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  display: block;
  height: 100%;
  -webkit-filter: blur(5px);
  z-index: 0;
}
.time-weather {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  display: block;
  *zoom: 1;
  overflow: hidden;
  z-index: 1;
  background: rgba(0, 0, 0, 0.8);
}
.time-weather:before,
.time-weather:after {
  display: table;
  content: "";
  line-height: 0;
}
.time-weather:after {
  clear: both;
}
.time-weather .col {
  z-index: 1;
  float: left;
  margin: 0;
  padding: 0;
  width: 50%;
  padding: 40px 0;
}
.time-weather .col.col-date span {
  position: relative;
  display: block;
  padding: 0px 20px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 400;
  color: #999999;
}
.time-weather .col.col-date span.date {
  font-weight: bold;
}
.time-weather .col.col-date span.time {
  color: white;
  font-weight: 100;
  font-size: 170px;
  line-height: 100%;
  margin-top: 30px;
}
.time-weather .col.col-date span.time .meridiem {
  font-size: 90px;
  color: #999999;
  display: inline;
  text-transform: lowercase;
  padding: 0;
}
.time-weather .col.col-weather .weather-icon {
  font-family: 'weatherfont';
}
.time-weather .col.col-weather h4 {
  font-size: 16px;
  line-height: 100%;
  color: #B3B3B3;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}
.time-weather .col.col-weather h4.locationname {
  position: absolute;
  left: 20px;
  bottom: 20px;
}
.time-weather .col.col-weather h3 {
  color: white;
  font-weight: 700;
  line-height: 100%;
  font-size: 45px;
  margin: 10px 0 0 0;
}
.time-weather .col.col-weather h3 .weather-icon {
  color: #B3B3B3;
  margin-right: 20px;
  display: inline;
}
.time-weather .col.col-weather .current-weather {
  position: relative;
  display: block;
  border-bottom: 1px solid #B3B3B3;
  padding: 20px 0px 40px 20px;
  margin-right: 20px;
}
.time-weather .col.col-weather .current-weather .location {
  padding-top: 10px;
  text-align: left;
}
.time-weather .col.col-weather .current-weather .now-icon .weather-icon {
  font-size: 97px;
  color: white;
  margin-bottom: 10px;
}
.time-weather .col.col-weather .current-weather .now-temp {
  font-size: 120px;
  font-weight: 100;
  padding: 30px 20px 0px;
  margin: 0;
}
.time-weather .col.col-weather .current-weather .wet-sec {
  display: inline-block;
  vertical-align: top;
}
.time-weather .col.col-weather .current-weather .wet-sec.high,
.time-weather .col.col-weather .current-weather .wet-sec.low {
  margin-top: -20px;
}
.time-weather .col.col-weather .current-weather .wet-sec.low {
  margin-left: 20px;
}
.time-weather .col.col-weather .current-weather .updated-datetime {
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-size: 14px;
  line-height: 100%;
  color: #B3B3B3;
  font-weight: 500;
}
.time-weather .col.col-weather .upcoming-weather {
  padding: 20px 20px 0px 20px;
}
.time-weather .col.col-weather .upcoming-weather .col-3 {
  display: block;
  vertical-align: top;
  width: 33%;
  float: left;
}
.time-weather .col.col-weather .upcoming-weather .col-3 h3 {
  margin-top: 15px;
}
.time-weather .col.col-weather .upcoming-weather .col-3:last-child {
  float: right;
}
.wallboard-middle {
  *zoom: 1;
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
  background: #1A1A1A;
}
.wallboard-middle:before,
.wallboard-middle:after {
  display: table;
  content: "";
  line-height: 0;
}
.wallboard-middle:after {
  clear: both;
}
.wallboard-middle .col {
  width: 33%;
  border-right: 2px solid black;
  margin: 0;
  display: inline-block;
  padding: 40px 0px;
  text-align: center;
  vertical-align: top;
  height: 210px;
  overflow: hidden;
}
.wallboard-middle .col :last-child {
  border: none;
}
.wallboard-middle .col h5 {
  color: #6B6B6B;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  margin: 0 0 30px 0;
  padding: 0;
}
.wallboard-middle .col p {
  color: white;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  margin: 0;
  padding: 0;
}
.wallboard-middle .col p.subtitle {
  margin-top: 10px;
  color: #999999;
  font-size: 16px;
}
.wallboard-middle .col.cleaning-crew ul {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: inline-block;
}
.wallboard-middle .col.cleaning-crew ul li {
  color: white;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  margin: 0px 0 15px;
  padding: 0;
  text-align: left;
}
.wallboard-middle .col.cleaning-crew ul li:last-child {
  margin: 0;
}
.wallboard-middle .col.cleaning-crew ul li img {
  float: left;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  height: 30px;
  display: block;
  margin: 0 10px 0px 0px;
}
.wallboard-middle .col.next-birthdays ul {
  list-style: none;
  padding: 0 50px;
  margin: 0;
  text-align: center;
  font-size: 0px;
}
.wallboard-middle .col.next-birthdays ul li {
  display: inline-block;
  margin: 0;
  vertical-align: top;
  padding: 0;
}
.wallboard-middle .col.next-birthdays ul li.small-birthday {
  width: 25%;
}
.wallboard-middle .col.next-birthdays ul li.small-birthday img {
  width: 60px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=100);
  opacity: 0.3;
  display: block;
  margin: 20px auto 0;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.wallboard-middle .col.next-birthdays ul li.large-birthday {
  width: 42%;
  margin: 0 4%;
}
.wallboard-middle .col.next-birthdays ul li.large-birthday img {
  width: 100px;
  display: block;
  margin: 0px auto 0;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.wallboard-upcoming {
  *zoom: 1;
  width: 100%;
  display: block;
  position: relative;
  margin: 0;
  padding: 50px 0 30px 0;
  background: #1A1A1A;
  text-align: center;
  border-top: 2px solid black;
}
.wallboard-upcoming:before,
.wallboard-upcoming:after {
  display: table;
  content: "";
  line-height: 0;
}
.wallboard-upcoming:after {
  clear: both;
}
.wallboard-upcoming h3 {
  display: block;
  position: relative;
  margin: 0px 0 0 -87px;
  font-weight: 700;
  font-size: 15px;
  padding: 15px 30px 12px;
  line-height: 100%;
  text-transform: uppercase;
  color: white;
  text-align: center;
  background: #922D8D;
  position: absolute;
  top: -21px;
  width: 114px;
  left: 50%;
}
.wallboard-upcoming h2 {
  font-weight: 200;
  font-size: 39px;
  margin: 0 0 0 0;
}
.wallboard-calendar table {
  width: 100%;
  overflow: hidden;
}
.wallboard-calendar table td,
.wallboard-calendar table th {
  padding: 10px;
}
.wallboard-calendar table td:first-child,
.wallboard-calendar table th:first-child {
  width: 50px;
  text-align: center;
}
.wallboard-calendar table th {
  font-weight: 700;
  font-size: 15px;
  color: #6B6B6B;
  text-transform: uppercase;
  line-height: 20px;
  padding: 30px 0px;
}
.wallboard-calendar table td {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  min-height: 20px;
  padding: 10px;
  border: 1px solid black;
}
.wallboard-calendar table td:first-child {
  border-left: 0px;
  color: white;
  font-size: 15px;
}
.wallboard-calendar table td:first-child .meridiem {
  color: #808080;
}
.wallboard-calendar table tbody tr {
  background: #141214;
  position: relative;
}
.wallboard-calendar table tbody tr td {
  vertical-align: top;
  position: relative;
  background: #141214;
  overflow: hidden;
}
.wallboard-calendar table tbody tr td.event {
  background: #975E92 !important;
  color: white;
}
.wallboard-calendar table tbody tr td .e-time {
  float: right;
  color: rgba(255, 255, 255, 0.7);
}
.wallboard-calendar table tbody tr td .event-border {
  width: 5px;
  height: 100%;
  display: block;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  background: #75186F;
}
.wallboard-calendar table tbody tr:nth-child(odd) {
  background: #1A171A;
}
.wallboard-calendar table tbody tr:nth-child(odd) td {
  background: #1A171A;
}
.wallboard-calendar table tbody tr.active-1 {
  background: #922D8D;
}
.wallboard-calendar table tbody tr.active-1 td {
  background: #922D8D;
  padding-bottom: 30px;
}
.wallboard-calendar table tbody tr.active-2 {
  background: #752E71;
}
.wallboard-calendar table tbody tr.active-2 td {
  background: #752E71;
  padding-bottom: 30px;
}
.wallboard-calendar table tbody tr.active-3 {
  background: #521F50;
}
.wallboard-calendar table tbody tr.active-3 td {
  background: #521F50;
  padding-bottom: 20px;
}
.wallboard-calendar table tbody tr.active-4 {
  background: #3E183B;
}
.wallboard-calendar table tbody tr.active-4 td {
  background: #3E183B;
  padding-bottom: 20px;
}
.wallboard-calendar table tbody tr.active-5 {
  background: #261B26;
}
.wallboard-calendar table tbody tr.active-5 td {
  background: #261B26;
}
.wallboard-calendar table tbody tr.past td.event {
  color: #6C6B6C;
  background: #282728 !important;
}
.wallboard-calendar table tbody tr.past td .e-time {
  color: #4A494A;
}
.wallboard-calendar table tbody tr.past td.thirty {
  color: #6C6B6C;
}
.wallboard-calendar table tbody tr.past td .event-border {
  background: #475459;
}
.wallboard-calendar table tbody tr.past td:first-child {
  color: #F4F3EC;
}
.wallboard-calendar table tbody tr.past td:first-child .meridiem {
  color: #808080;
}
.wallboard-ticker {
  *zoom: 1;
  display: block;
  position: relative;
  margin: 0;
  padding: 25px 30px;
  background: #1C1C1C;
  text-align: center;
  -webkit-font-smoothing: auto;
}
.wallboard-ticker:before,
.wallboard-ticker:after {
  display: table;
  content: "";
  line-height: 0;
}
.wallboard-ticker:after {
  clear: both;
}
.wallboard-ticker .bx-wrapper {
  position: relative;
  margin: 0 auto 0px;
  padding: 0;
  *zoom: 1;
  width: 100% !important;
}
.wallboard-ticker .bx-window {
  width: 100% !important;
}
.wallboard-ticker ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  display: block;
}
.wallboard-ticker ul li {
  padding: 0 10px;
  margin: 0;
}
.wallboard-ticker ul li p {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  color: white;
}
.wallboard-ticker ul li p .news-time {
  font-size: 15px;
  color: #838383;
  margin-left: 10px;
  text-transform: uppercase;
}
.preferences {
  *zoom: 1;
  padding-bottom: 20px;
}
.preferences:before,
.preferences:after {
  display: table;
  content: "";
  line-height: 0;
}
.preferences:after {
  clear: both;
}
.preferences h3 {
  font-weight: 500;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #a9a9a9;
}
.edit-tag-holder {
  text-align: left;
  *zoom: 1;
  margin: 0px 0px;
  padding: 0px 0px 20px 0px;
  position: relative;
}
.edit-tag-holder:before,
.edit-tag-holder:after {
  display: table;
  content: "";
  line-height: 0;
}
.edit-tag-holder:after {
  clear: both;
}
.edit-tag-holder p.lead {
  margin-bottom: 5px;
}
.photos {
  *zoom: 1;
}
.photos:before,
.photos:after {
  display: table;
  content: "";
  line-height: 0;
}
.photos:after {
  clear: both;
}
.photos ul {
  position: relative;
  float: left;
  display: block;
  list-style: none;
  max-width: 60%;
  padding: 0;
  margin: 10px 0 20px 0;
}
.photos ul li {
  position: relative;
  padding: 0;
  display: inline-block;
  margin: 0px 5px 10px 5px;
  width: 30%;
}
.photos ul li img {
  max-width: 100%;
  padding: 0;
  margin: 0;
}
.photos ul li a.delete {
  margin: 0;
  position: absolute;
  top: -5px;
  right: -5px;
  padding: 1px 2px 3px 2px;
  text-align: center;
  font-size: 16px;
  line-height: 16px;
  height: 16px;
  width: 16px;
  display: block;
  overflow: hidden;
  font-weight: bold;
  border: none;
  background: #e74c3c;
  color: white;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.photos ul li a.delete:hover {
  border: none;
  color: white;
  background: #c0392b;
  cursor: pointer;
  text-decoration: none;
}
.photos .btn {
  margin-top: 10px;
}
input,
button,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  display: inline-block;
  height: 20px;
  padding: 4px 6px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  vertical-align: middle;
}
input,
textarea,
.uneditable-input {
  width: 206px;
}
textarea {
  height: auto;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: "border linear .2s, box-shadow linear .2s";
  -moz-transition: "border linear .2s, box-shadow linear .2s";
  -ms-transition: "border linear .2s, box-shadow linear .2s";
  -o-transition: "border linear .2s, box-shadow linear .2s";
  transition: "border linear .2s, box-shadow linear .2s";
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
}
textarea.success,
input[type="text"].success,
input[type="password"].success,
input[type="datetime"].success,
input[type="datetime-local"].success,
input[type="date"].success,
input[type="month"].success,
input[type="time"].success,
input[type="week"].success,
input[type="number"].success,
input[type="email"].success,
input[type="url"].success,
input[type="search"].success,
input[type="tel"].success,
input[type="color"].success,
.uneditable-input.success {
  color: #468847;
  border-color: #bbdba1;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ffffff;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ffffff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ffffff;
}
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  *margin-top: 0;
  /* IE7 */

  margin-top: 1px \9;
  /* IE8-9 */

  line-height: normal;
}
input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto;
}
select,
input[type="file"] {
  height: 30px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */

  *margin-top: 4px;
  /* For IE7, add top margin to align select with labels */

  line-height: 30px;
}
select {
  width: 220px;
  border: 1px solid #cccccc;
  background-color: #ffffff;
}
select[multiple],
select[size] {
  height: auto;
}
select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.options_holder {
  position: relative;
}
.options_holder label {
  vertical-align: middle;
  line-height: 30px;
  margin-right: 20px;
  font-weight: 500;
}
.options_holder input {
  float: right;
  width: 800px;
  font-weight: 300;
}
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #347ce3;
  cursor: pointer;
  color: #ffffff;
  background-color: #347ce3;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-transition: all 150ms;
  -moz-transition: all 150ms;
  -ms-transition: all 150ms;
  -o-transition: all 150ms;
  transition: all 150ms;
}
.btn:hover,
.btn:focus {
  color: #ffffff;
  text-decoration: none;
  border: 1px solid #22539c;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
}
.btn:active {
  border: 1px solid #347ce3;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn.active,
.btn:active {
  background-image: none;
  outline: 0;
}
.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-image: none;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
  filter: alpha(opacity=100);
  opacity: 0.65;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn.green {
  background: #abc85b;
  border-color: #abc85b;
}
.btn.green:hover,
.btn.green:focus {
  border-color: #7F9F29;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
}
.btn.green:active {
  border-color: #abc85b;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn.grey {
  background-color: #f6f6f6;
  background-image: -moz-linear-gradient(top, #fafafa, #efefef);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#efefef));
  background-image: -webkit-linear-gradient(top, #fafafa, #efefef);
  background-image: -o-linear-gradient(top, #fafafa, #efefef);
  background-image: linear-gradient(to bottom, #fafafa, #efefef);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffafafa', endColorstr='#ffefefef', GradientType=0);
  border-color: #d8d8d8;
  color: #747F7F;
}
.btn.grey:hover,
.btn.grey:focus {
  background: #F6F6F6;
  border: 1px solid #C9CFD2;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
}
.btn.grey:active {
  background-color: #f2f2f2;
  background-image: -moz-linear-gradient(top, #efefef, #f6f6f6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#efefef), to(#f6f6f6));
  background-image: -webkit-linear-gradient(top, #efefef, #f6f6f6);
  background-image: -o-linear-gradient(top, #efefef, #f6f6f6);
  background-image: linear-gradient(to bottom, #efefef, #f6f6f6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffefefef', endColorstr='#fff6f6f6', GradientType=0);
  border: 1px solid #E5E5E5;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn.referralbtn {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background: #F1F5F5;
  border: 1px solid #E3E5E5;
  color: #5A6565;
  line-height: 16px;
}
.btn.referralbtn:hover {
  background: #F1F5F5;
  border: 1px solid #C7D0D0;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
}
.btn.referralbtn:active {
  background: #F1F5F5;
  border: 1px solid #E3E5E5;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn.teal {
  background: #49AFD3;
  border: 1px solid #49AFD3;
}
.btn.teal:hover {
  background: #49AFD3;
  border: 1px solid #367F99;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}
.btn.teal:active {
  background: #49AFD3;
  border: 1px solid #49AFD3;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-add {
  padding-left: 9px;
}
.btn-add:before {
  content: '+';
  display: inline-block;
  margin-right: 5px;
  font-weight: 900;
}
.btn-large {
  padding: 11px 19px;
  width: 130px;
  font-size: 16px;
}
.btn-large [class^="icon-"],
.btn-large [class*=" icon-"] {
  margin-top: 4px;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.invisible {
  visibility: hidden;
}
.affix {
  position: fixed;
}
