.wallboard-calendar {
    .calendar-header {
        box-shadow: 0 0 20px black;
        position: relative;
        z-index:2;
        .current-mark {
            border-bottom: 1px solid @barrelPurple;
            display: block;
            position: absolute;
            left: 0;
            top: 100%;
            background: rgba(0,0,0,.75);
            height: 0px;
            right: 0;
            z-index: 1;
        }
    }
	table {
		width:100%;
		overflow:hidden;
	}
	td, th {
		padding:10px;
		&:first-child {
			width:50px;
			text-align:center;
		}
	}
	th {
		font-weight:700;
		font-size:12px;
		color:white;
		text-transform:uppercase;
        line-height: 40px;
        height: 40px;
        padding:0;
        &:first-child {
            padding: 10px
        }
	}
	td {
		font-weight:700;
		font-size:14px;
		line-height:20px;
		min-height:20px;
		padding:10px;
		&:first-child {
			border-right:1px solid black;
			color:white;
			font-size:11px;
            background: none !important;
			text-transform: uppercase;
		}
	}
    thead {
        tr {
            background-color: #1A1A1A;
        }
    }
	tbody {
		tr {
			position:relative;
			&:nth-child(odd){
				td {
					background:#232323;
				}
			}
			&.active-1 {
                td.extra {
                    //border-bottom: 1px solid @barrelPurple;
                }
			}
			&.past {
				td {
                    &.extra {
                        hr {
                            background: rgba(0,0,0,.5);
                            position: absolute;
                            left:0; top: 0;
                            bottom: 0; right: 0;
                            display: block;
                            border: none;
                        }
                    }
				}
			}
		}
		td {
			vertical-align:top;
			position:relative;
			overflow:hidden;
			&.extra{
				padding:0 !important;

                hr {
                    display:none;
                }
			}
			&.event {
				background:#975E92 !important;
				color:white;
			}
			.e-time {
				color:rgba(242,242,242,.5);
                font-size:11px;
                position:absolute;
                right:15px;
                top:10px;
                z-index:1;
			}
			.event-border {
				//background:@barrelPurple;
                background:#993399;
                border-right: 1px solid rgba(0,0,0,0.75);
                border-bottom: 1px solid #612a61;
                color:#F2F2F2;
				display:block;
                font-size:12px;
				margin:0;
				padding:10px 15px;
				position:absolute;
				top:0px;
				left:0px;
                right:0px;
                bottom:0px;
                z-index:1;
			}
            &.top {
                .e-time, .event-border {
                    z-index: 2;
                }
            }
		}
	}
}
