// Variables
// -------------------------
@black:                 #000;
@grayDarker:            #222;
@grayDark:              #333;
@gray:                  #555;
@grayLight:             #999;
@grayLighter:           #eee;
@white:                 #fff;

@blue:                  #049cdb;
@blueDark:              #0064cd;
@green:                 #46a546;
@red:                   #9d261d;
@yellow:                #ffc40d;
@orange:                #f89406;
@pink:                  #c3325f;
@purple:                #7a43b6;

@bodyBackground:        @white;
@textColor:             @grayDark;
@hrBorder:              @grayLighter;

@linkColor:             #08c;
@linkColorHover:        darken(@linkColor, 15%);

@sansFontFamily:        "Helvetica Neue", Helvetica, Arial, sans-serif;
@serifFontFamily:       Georgia, "Times New Roman", Times, serif;
@monoFontFamily:        Monaco, Menlo, Consolas, "Courier New", monospace;

@baseFontSize:          14px;
@baseFontFamily:        @sansFontFamily;
@baseLineHeight:        20px;
@altFontFamily:         @serifFontFamily;

@headingsFontFamily:    inherit; // empty to use BS default, @baseFontFamily
@headingsFontWeight:    bold;    // instead of browser default, bold
@headingsColor:         inherit; // empty to use BS default, @textColor
@slideshowHeight:600px;

@import "mixins.less";
@import "type.less";


// Scaffolding
// -------------------------
body {
  margin: 0;
  font-family: @baseFontFamily;
  font-size: @baseFontSize;
  line-height: @baseLineHeight;
  color: @textColor;
  background-color: @bodyBackground;
  &.wallboard {
  	font-family: 'Benton', "Helvetica Neue", Helvetica, Arial, sans-serif;
	background:black;
	color: white;
  }
}
.container {
	position:relative;
	max-width:1000px;
	overflow:hidden;
	margin:0 auto;
	padding:0 10px;
	text-align:left;
}


// Links
// -------------------------
a {
  color: @linkColor;
  text-decoration: none;
}
a:hover,
a:focus {
  color: @linkColorHover;
  text-decoration: underline;
}


// Wallboard Styles
// -------------------------
.wallboard-top {
	position:relative;
	.clearfix;
	margin:0;
	padding:0;
	overflow:hidden;
	display:block;
	width:100%;
	height:@slideshowHeight;
}

.photos-slider {
	margin:0;
	padding:0;
	.clearfix;
	position:relative;
	width:100%;
	overflow:hidden;
	height:@slideshowHeight;
	@nselector2:~"2n+1";
	@nselector3:~"3n+1";
	@nselector4:~"4n+1";
	.fx {
	  .opacity(100);
	  .scale(2, 2);
	  .translate(30px, 30px);
	}
	img {
		min-width:110%;
		min-height:@slideshowHeight + 60px;
		position:absolute;
		top:50%;
		margin:-430px 0 0 0;
		left:-5%;
		display:block;
		.kenburns(1s, 6s);
		.transform-origin(bottom, left);
		.opacity(0);
		&:nth-child(@nselector2) {
			.transform-origin(top, right);
			&.fx {
				.translate(-30px, -30px);
			}
		}
		&:nth-child(@nselector3) {
			.transform-origin(top, left);
			&.fx {
				.translate(30px, -30px);
			}
		}
		&:nth-child(@nselector4) {
			.transform-origin(bottom, right);
			&.fx {
				.translate(30px, -30px);
			}
		}
	}
	.fx:first-child + img ~ img {
		z-index:-1;
	}
}

.backdrop {
	position:absolute;
	bottom:0px;
	left:0px;
	width:100%;
	display:block;
	height:100%;
	-webkit-filter: blur(5px);
	z-index:0;
}

.time-weather {
	position:absolute;
	bottom:0px;
	left:0px;
	width:100%;
	display:block;
	.clearfix;
	overflow:hidden;
	z-index:1;
	background:rgba(0,0,0,0.8);
	.col {
		z-index:1;
		float:left;
		margin:0;
		padding:0;
		width:50%;
		padding:40px 0;
		&.col-date {
			span {
				position:relative;
				display:block;
				padding:0px 20px;
				font-size:16px;
				line-height:20px;
				text-transform:uppercase;
				font-weight:400;
				color:#999999;
				&.date {
					font-weight:bold;
				}
				&.time {
					color:white;
					font-weight:100;
					font-size:170px;
					line-height:100%;
					margin-top:30px;
					.meridiem {
						font-size:90px;
						color:#999999;
						display:inline;
						text-transform:lowercase;
						padding:0;
					}
				}
			}
		}
		&.col-weather {
			.weather-icon {
				font-family:'weatherfont';
			}
			h4 {
				font-size:16px;
				line-height:100%;
				color:#B3B3B3;
				text-transform:uppercase;
				font-weight:700;
				margin:0;
				&.locationname {
					position:absolute;
					left:20px;
					bottom:20px;
				}
			}
			h3 {
				color:white;
				font-weight:700;
				line-height:100%;
				font-size:45px;
				margin:10px 0 0 0;
				.weather-icon {
					color:#B3B3B3;
					margin-right:20px;
					display:inline;
				}
			}
			.current-weather {
				position:relative;
				display:block;
				border-bottom:1px solid #B3B3B3;
				padding:20px 0px 40px 20px;
				margin-right:20px;
				.location {
					padding-top:10px;
					text-align:left;
				}
				.now-icon {
					.weather-icon {
						font-size:97px;
						color:white;
						margin-bottom:10px;
					}
				}
				.now-temp {
					font-size:120px;
					font-weight:100;
					padding:30px 20px 0px;
					margin:0;
				}
				.wet-sec {
					display:inline-block;
					vertical-align:top;
					&.high, &.low {
						margin-top:-20px;
					}
					&.low {
						margin-left:20px;
					}
				}
				.updated-datetime {
					position:absolute;
					right:20px;
					bottom:20px;
					font-size:14px;
					line-height:100%;
					color:#B3B3B3;
					font-weight:500;
				}
			}
			.upcoming-weather {
				padding:20px 20px 0px 20px;
				.col-3 {
					display:block;
					vertical-align:top;
					width:33%;
					float:left;
					h3 {
						margin-top:15px;
					}
					&:last-child {
						float:right;
					}
				}
			}
		}
	}
}

.wallboard-middle {
	.clearfix;
	width:100%;
	display:block;
	margin:0;
	padding:0;
	background:#1A1A1A;
	.col {
		width:33%;
		border-right:2px solid black;
		margin:0;
		display:inline-block;
		padding:40px 0px;
		text-align:center;
		vertical-align:top;
		height:210px;
		overflow:hidden;
		:last-child {
			border:none;
		}
		h5 {
			color:#6B6B6B;
			font-weight:700;
			text-align:center;
			text-transform:uppercase;
			font-size:14px;
			margin:0 0 30px 0;
			padding:0;
		}
		p {
			color:white;
			font-weight:400;
			font-size:24px;
			line-height:150%;
			margin:0;
			padding:0;
			&.subtitle {
				margin-top:10px;
				color:#999999;
				font-size:16px;
			}
		}
		&.cleaning-crew {
			ul {
				margin:0 auto;
				padding:0;
				list-style:none;
				display:inline-block;
				li {
					color:white;
					font-weight:400;
					font-size:20px;
					line-height:30px;
					margin:0px 0 15px;
					padding:0;
					text-align:left;
					&:last-child {
						margin:0;
					}
					img {
						float:left;
						.border-radius(100%);
						height:30px;
						display:block;
						margin: 0 10px 0px 0px;
					}
				}
			}
		}
		&.next-birthdays {
			ul {
				list-style:none;
				padding:0 50px;
				margin:0;
				text-align:center;
				font-size:0px;
				li {
					display:inline-block;
					margin:0;
					vertical-align:top;
					padding:0;
					&.small-birthday {
						width:25%;
						img {
							width:60px;
							.opacity(30);
							display:block;
							margin:20px auto 0;
							.border-radius(100%);
						}
					}
					&.large-birthday {
						width:42%;
						margin:0 4%;
						img {
							width:100px;
							display:block;
							margin:0px auto 0;
							.border-radius(100%);
						}
					}
				}
			}
		}
	}
}

.wallboard-upcoming {
	.clearfix;
	width:100%;
	display:block;
	position:relative;
	margin:0;
	padding:50px 0 30px 0;
	background:#1A1A1A;
	text-align:center;
	border-top:2px solid black;
	h3 {
		display:block;
		position:relative;
		margin:0px 0 0 -87px;
		font-weight:700;
		font-size:15px;
		padding:15px 30px 12px;
		line-height:100%;
		text-transform:uppercase;
		color:white;
		text-align:center;
		background:#922D8D;
		position:absolute;
		top:-21px;
		width:114px;
		left:50%;
	}
	h2 {
		font-weight:200;
		font-size:39px;
		margin:0 0 0 0;
	}
}

.wallboard-calendar {
	table {
		width:100%;
		overflow:hidden;
		td, th {
			padding:10px;
			&:first-child {
				width:50px;
				text-align:center;
			}
		}
		th {
			font-weight:700;
			font-size:15px;
			color:#6B6B6B;
			text-transform:uppercase;
			line-height:20px;
			padding:30px 0px;
		}
		td {
			font-weight:700;
			font-size:14px;
			line-height:20px;
			min-height:20px;
			padding:10px;
			border:1px solid black;
			&:first-child {
				border-left:0px;
				color:white;
				font-size:15px;
				.meridiem {
					color:#808080;
				}
			}
		}
		tbody {
			tr {
				background:#141214;
				position:relative;
				td {
					vertical-align:top;
					position:relative;
					background:#141214;
					overflow:hidden;
					&.event {
						background:#975E92 !important;
						color:white;
						
					}
					&.thirty {
					}
					.e-time {
						float:right;
						color:rgba(255,255,255, 0.7);
					}
					.event-border {
						width:5px;
						height:100%;
						display:block;
						margin:0;
						padding:0;
						position:absolute;
						top:0px;
						left:0px;
						background:#75186F;
					}
				}
				&:nth-child(odd){
					background:#1A171A;
					td {
						background:#1A171A;
					}
				}
				&.active-1 {
					background:#922D8D;
					td {
						background:#922D8D;
						padding-bottom:30px;
					}
				}
				&.active-2 {
					background:#752E71;
					td {
						background:#752E71;
						padding-bottom:30px;
					}
				}
				&.active-3 {
					background:#521F50;
					td {
						background:#521F50;
						padding-bottom:20px;
					}
				}
				&.active-4 {
					background:#3E183B;
					td {
						background:#3E183B;
						padding-bottom:20px;
					}
				}
				&.active-5 {
					background:#261B26;
					td {
						background:#261B26;
					}
				}
				&.past {
					td {
						&.event {
							color:#6C6B6C;
							background:#282728 !important;
						}
						.e-time {
							color:#4A494A;
						}
						&.thirty {
							color:#6C6B6C;
						}
						.event-border {
							background:#475459;
						}
						&:first-child {
							color:#F4F3EC;
							.meridiem {
								color:#808080;
							}
						}
					}
				}
			}
		}
		
	}
}

.wallboard-ticker {
	.clearfix;
	display:block;
	position:relative;
	margin:0;
	padding:25px 30px;
	background:#1C1C1C;
	text-align:center;
	-webkit-font-smoothing: auto;
	.bx-wrapper {
		position: relative;
		margin: 0 auto 0px;
		padding: 0;
		*zoom: 1;
		width:100% !important;
	}
	.bx-window {
		width:100% !important;
	}
	ul {
		list-style:none;
		padding:0;
		margin:0;
		width:100%; 
		display:block;
		li {
			//display:inline;
			padding:0 10px;
			margin:0;
			p {
				margin:0;
				padding:0;
				font-size:18px;
				font-weight:400;
				color:white;
				.news-time {
					font-size:15px;
					color:#838383;
					margin-left:10px;
					text-transform:uppercase;
				}
			}
		}
	}
}



// Backdoor Styles
// -------------------------
.preferences {
	.clearfix;
	padding-bottom:20px;
	h3 {
		font-weight:500;
		padding-bottom:10px;
		margin-bottom:20px;
		border-bottom:1px solid #a9a9a9;
	}
}

.edit-tag-holder {
	text-align:left;
	.clearfix;
	margin:0px 0px;
	padding:0px 0px 20px 0px;
	position:relative;
	p.lead {
		margin-bottom:5px;
	}
}

.photos {
	.clearfix;
	ul {
		position:relative;
		float:left;
		display:block;
		list-style:none;
		max-width:60%;
		padding:0;
		margin: 10px 0 20px 0;
		li {
			position:relative;
			padding:0;
			display:inline-block;
			margin:0px 5px 10px 5px;
			width:30%;
			img {
				max-width:100%;
				padding:0;
				margin:0;
			}
			a.delete {
				margin:0;
				position:absolute;
				top:-5px;
				right:-5px;
				padding:1px 2px 3px 2px;
				text-align:center;
				font-size:16px;
				line-height:16px;
				height:16px;
				width:16px;
				display:block;
				overflow:hidden;
				font-weight:bold;
				border:none;
				background:#e74c3c;
				color:white;
				.border-radius(100%);
				&:hover {
					border:none;
					color:white;
					background:#c0392b;
					cursor:pointer;
					text-decoration:none;
				}
			}
		}
	}
	.btn {
		margin-top:10px;
	}
}



@import "forms.less";
@import "buttons.less";
@import "utilities.less";