// Variables
// -------------------------
@black:                 #000;
@grayDarker:            #222;
@grayDark:              #333;
@gray:                  #555;
@grayLight:             #999;
@grayLighter:           #eee;
@white:                 #fff;

@blue:                  #049cdb;
@blueDark:              #0064cd;
@green:                 #46a546;
@red:                   #9d261d;
@yellow:                #ffc40d;
@orange:                #f89406;
@pink:                  #c3325f;
@purple:                #7a43b6;

@bodyBackground:        @white;
@textColor:             @grayDark;
@hrBorder:              @grayLighter;

@linkColor:             #08c;
@linkColorHover:        darken(@linkColor, 15%);

@sansFontFamily:        "Helvetica Neue", Helvetica, Arial, sans-serif;
@serifFontFamily:       Georgia, "Times New Roman", Times, serif;
@monoFontFamily:        Monaco, Menlo, Consolas, "Courier New", monospace;

@baseFontSize:          14px;
@baseFontFamily:        @sansFontFamily;
@baseLineHeight:        20px;
@altFontFamily:         @serifFontFamily;

@headingsFontFamily:    inherit; // empty to use BS default, @baseFontFamily
@headingsFontWeight:    bold;    // instead of browser default, bold
@headingsColor:         inherit; // empty to use BS default, @textColor


@import "mixins.less";
@import "type.less";


// Scaffolding
// -------------------------
body {
  margin: 0;
  font-family: @baseFontFamily;
  font-size: @baseFontSize;
  line-height: @baseLineHeight;
  color: @textColor;
  background-color: @bodyBackground;
}
.container {
	position:relative;
	max-width:1000px;
	overflow:hidden;
	margin:0 auto;
	padding:0 10px;
	text-align:left;
}


// Links
// -------------------------
a {
  color: @linkColor;
  text-decoration: none;
}
a:hover,
a:focus {
  color: @linkColorHover;
  text-decoration: underline;
}


// Styles
// -------------------------
.preferences {
	.clearfix;
	padding-bottom:20px;
	h3 {
		font-weight:500;
		padding-bottom:10px;
		margin-bottom:20px;
		border-bottom:1px solid #a9a9a9;
	}
}

.edit-tag-holder {
	text-align:left;
	.clearfix;
	margin:0px 0px;
	padding:0px 0px 20px 0px;
	position:relative;
	p.lead {
		margin-bottom:5px;
	}
}

.photos {
	.clearfix;
	ul {
		position:relative;
		float:left;
		display:block;
		list-style:none;
		max-width:60%;
		padding:0;
		margin: 10px 0 20px 0;
		li {
			position:relative;
			padding:0;
			display:inline-block;
			margin:0px 5px 10px 5px;
			width:30%;
			img {
				max-width:100%;
				padding:0;
				margin:0;
			}
			a.delete {
				margin:0;
				position:absolute;
				top:-5px;
				right:-5px;
				padding:1px 2px 3px 2px;
				text-align:center;
				font-size:16px;
				line-height:16px;
				height:16px;
				width:16px;
				display:block;
				overflow:hidden;
				font-weight:bold;
				border:none;
				background:#e74c3c;
				color:white;
				.border-radius(100%);
				&:hover {
					border:none;
					color:white;
					background:#c0392b;
					cursor:pointer;
					text-decoration:none;
				}
			}
		}
	}
	.btn {
		margin-top:10px;
	}
}






@import "forms.less";
@import "buttons.less";
@import "utilities.less";