<!DOCTYPE html>
<html>
  <head>
    <base href="http://wallboard2013.staging.barrelclient.com/new/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

    <title>Wallboard: {{title}}</title>

    <link rel="stylesheet" href="css/wallboard.min.css">
    <script src="js/lib/modernizr-2.6.2.min.js"></script>
    <script>
      var siteUrl = "";
    </script>
  </head>
  <body class="wallboard">
    {{{body}}}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="js/wallboard.js"></script>
  </body>
</html>