{{! Template: Newsfeed }}
<section class="wallboard-ticker">
	<marquee>
		<ul class="news-slider">
			{{#feed_items}}
			<li><p>{{title}}<span class="news-time">{{date}}</span></p></li>
			{{/feed_items}}
		</ul>
	</marquee>
</section>
