{{! Template: Rooms Calendar }}
<section class="wallboard-calendar">
    <div class="calendar-header">
    	<table>
    		<thead>
    			<tr>
    				<th></th>
    				<th>The Atrium</th>
    				<th>The Garage</th>
    				<th>The Cellar</th>
    			</tr>
    		</thead>
        </table>
		<div class="current-mark"></div>
    </div>
	<table>
		<tbody>
			{{#hours}}
			<tr{{{class}}}>
				<td>{{hourprint}} <span class="meridiem">{{meridiem}}</span></td>
				
				{{#meetings_html}}{{{.}}}{{/meetings_html}}
			{{/hours}}
		</tbody>
	</table>
</section>
