{{! Template: Rooms Calendar }}
<section class="wallboard-calendar">
	<table>
		<thead>
			<tr>
				<th></th>
				<th>The Atrium</th>
				<th>The Garage</th>
				<th>The Cellar</th>
			</tr>
		</thead>
		<tbody>
			{{#hours}}
			<tr{{class}}>
				<td>{{hourprint}} <span class="meridiem">{{meridiem}}</span></td>
				
				foreach ($meetings as $room => $roommeetings){
					$has_td = false;
					foreach ($roommeetings as $meeting){
						if ($meeting['start']==$hour.'00' && (!isset($rowspan[$room][$hour-1]) || $rowspan[$room][$hour-1] <= 0)){
							$difference = intval($meeting['end'])-intval($meeting['start']);
							if ($difference==30 || $difference==70){
								$rowspan[$room][$hour] = 0;
								echo '<td class="thirty"><span class="event-border">&nbsp;</span>'.$meeting['name'].'<span class="e-time">'.$meeting['date'].'</span></td>';
								$has_td = true;
							} else if ($difference%100 == 0){
								$rowspan[$room][$hour] = (($difference/100)*2)-1;
								echo '<td class="event" rowspan="'.(($difference/100)*2).'"><span class="event-border">&nbsp;</span>'.$meeting['name'].'<span class="e-time">'.$meeting['date'].'</span></td>';
								$has_td = true;
							} else if ($difference%100 != 0) {
								$rowspan[$room][$hour] = ((floor($difference/100)*2));
								echo '<td class="event" rowspan="'.((floor($difference/100)*2)+1).'"><span class="event-border">&nbsp;</span>'.$meeting['name'].'<span class="e-time">'.$meeting['date'].'</span></td>';
								$has_td = true;
							} else {
								$rowspan[$room][$hour] = 0;
							}
						} else {
							$rowspan[$room][$hour] = 0;
						}
						if ($has_td){
							break;
						}
					}
					if (!$has_td){
						if (!isset($rowspan[$room][($hour-1)])){
							echo '<td class="extra"></td>';
							$rowspan[$room][$hour] = 0;
						} else if ($rowspan[$room][($hour-1)]<=0){
							echo '<td class="extra"></td>';
							$rowspan[$room][$hour] = 0;
						} else {
							//echo '<td>'.$rowspan[$room][$hour-1].'</td>';
							$rowspan[$room][$hour] = $rowspan[$room][($hour-1)] -1;
						}
					}
				}
			</tr>
				
				if ($hour!==18){
					<tr'.$class_2.'>
							<td>&nbsp;</td>';
				
					foreach ($meetings as $room => $roommeetings){
						$has_td = false;
						if ($rowspan[$room][$hour]==0){
							if (isset($rowspan[$room][($hour-1)]) && $rowspan[$room][($hour-1)]>0){
								$rowspan[$room][$hour] = $rowspan[$room][($hour-1)] -1;
							} else {
								foreach ($roommeetings as $meeting){
									if ($meeting['start']==$hour.'30'){
										$difference = intval($meeting['end'])-intval($meeting['start']);
										if ($difference==30 || $difference==70){
											$rowspan[$room][$hour] = 0;
											echo '<td class="thirty"><span class="event-border">&nbsp;</span>'.$meeting['name'].'<span class="e-time">'.$meeting['date'].'</span></td>';
											$has_td = true;
											break;
										} else if ($difference%100 == 0){
											$rowspan[$room][$hour] = (($difference/100)*2)-1;
											echo '<td class="event" rowspan="'.(($difference/100)*2).'"><span class="event-border">&nbsp;</span>'.$meeting['name'].'<span class="e-time">'.$meeting['date'].'</span></td>';
											$has_td = true;
											break;
										} else if ($difference%100 != 0) {
											$rowspan[$room][$hour] = ((floor($difference/100)*2));
											echo '<td class="event" rowspan="'.((floor($difference/100)*2)+1).'"><span class="event-border">&nbsp;</span>'.$meeting['name'].'<span class="e-time">'.$meeting['date'].'</span></td>';
											$has_td = true;
											break;
										} else {
											$rowspan[$room][$hour] = 0;
										}
									} else {
										$rowspan[$room][$hour] = 0;
									}
								} 
							}
							if (!$has_td){
								echo '<td class="extra"></td>';
								$rowspan[$room][$hour] = 0;
							}
						} else {								
							$rowspan[$room][$hour] = $rowspan[$room][($hour)] -1;
						}
					}
				
					echo '</tr>';
				}
			}
			?>
			{{/hours}}
		</tbody>
	</table>
</section>
