{{! Template: Time and Weather }}
<section class="wallboard-top">
	{{#photo_mode}}
	<div id="slideshow" class="photos-slider">
	{{#photos}}
		<img src="uploads/{{image_url}}" alt="" />
	{{/photos}}
	</div>
	{{/photo_mode}}
	{{^photo_mode}}
	<div id="instagram">
	{{#instagram}}
		<div class="top">
		{{#top}}<span><img src="{{url}}" alt="" /></span>{{/top}}
		</div>
		<div class="bottom">
		{{#bottom}}<span><img src="{{url}}" alt="" /></span>{{/bottom}}
		</div>
	{{/instagram}}
	</div>
	{{/photo_mode}}
	<div class="time-weather">
		<div class="col col-date">
			<span class="weekday">{{weekday}}</span>
			<span class="date">{{date}}</span>
			<span class="time">{{time}} <span class="meridiem">{{meridiem}}</span></span>
		</div>
		<div class="col col-weather">
			<div class="current-weather">
				<div class="location wet-sec">
					<div class="now-icon"></div>
				</div>
				<h4 class="locationname">New York</h4>
				<div class="number wet-sec">
					<h2 class="now-temp"></h2>
				</div>
				<div class="low wet-sec pull-right">
					<h4>Low</h4>
					<h3 class="now-low"></h3>
				</div>
				<div class="high wet-sec pull-right">
					<h4>High</h4>
					<h3 class="now-high"></h3>
				</div>
				<span class="updated-datetime"></span>
			</div>
			<div class="upcoming-weather">
				<div class="col-3">
					<h4>Next Hour</h4>
					<h3 class="next-hour"></h3>
				</div>
				<div class="col-3">
					<h4>Tomorrow</h4>
					<h3 class="tomorrow"></h3>
				</div>
				<div class="col-3">
					<h4>2 Days</h4>
					<h3 class="two-days"></h3>
				</div>
			</div>
		</div>
	</div>
</section>