{{! Template: Cleaning/Holiday/Birthday }}
<section class="wallboard-middle">
	{{#next_holiday}}
	<div class="col next-holiday">
		<h5>Next Holiday</h5>
		<svg class="icon">
		  <use xlink:href="#icon-{{name_sanitized}}" />
		</svg>
		<p>{{name}}</p>
		<p class="subtitle">{{date}}</p>
	</div>
	{{/next_holiday}}

	{{#next_barrelversary}}
	<div class="col next-barrelversary">
		<h5>Next Barrelversary</h5>
		<ul>
			<li class="person">
				<img class="person-image" src="./{{path}}" alt="{{name}}" />
				<p>{{name}}</p>
				<p class="subtitle">{{date}}</p>
			</li>
		</ul>
	</div>
	{{/next_barrelversary}}

	<div class="col next-birthdays">
		<h5>Next Birthday</h5>
		<ul>
		{{#birthdays}}
			{{#current}}
			<li class="large-birthday">
				<img class="person-image{{#todayisbirthday}} today{{/todayisbirthday}}" src="./{{path}}" alt="{{name}}" />
				<p>{{name}}</p>
				<p class="subtitle">{{date}}</p>
				{{#todayisbirthday}}<svg id="birthday-icon" class="icon">
					<use xlink:href="#icon-birthdayhat" />
				</svg>{{/todayisbirthday}}
			</li>
			{{/current}}
		{{/birthdays}}
		</ul>
	</div>
</section>